*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header{
    height: 100vh;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 100px;
}

nav{
    padding: 20px;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    color: white;
}

header nav ul li a{
    padding: 15px;
}

.nav-logo{
    width: 30%;
    margin-left: 50px;
}

.nav-list{
    width: 45%;
    text-align: center;
    margin-left: -50px;
}

.nav-btn{
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px;
    margin-right: 50px;
    border: none;
}

.hero-description{
    width: 50%;
    text-align: center;
    position:absolute;
    top: 50%;
    left:25%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    color: white;
}

.hero-description h1{
    font-size: 55px;
}

.hero-description p{
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.header-btn{
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 20px;
}

.header-btn-2{
    background-color: #23272a;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 20px;
    margin-left: 20px;
}

/* Sezioni Main */

h2{
    color: #23272a;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 30px;
}

p{
    line-height: 20px;
    font-size: 17px;
}

h3{
    color: #23272a;
    font-size: 30px;
}

.stars{
    transform: translateY(50%);
}

.main-btn{
    background-color: #8ea1e1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}

/* Footer */

footer{
    background-color: rgba(35,39,42,255);
    color: white;
    padding: 50px;
}

footer h3{
    color: #7289da;
    margin-bottom: 10px;
}

.lang img{
    width: 20px;
}

footer i{
    margin-top: 10px;
    margin-right: 5px;
}

footer ul{
    list-style-type: none;
    line-height: 25px;
}

.purple{
    color: #7289da;
}
footer hr{
    background-color: #8ea1e1;
    margin-bottom: 30px;
}
footer button{
    background-color: #8ea1e1;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
}

/* Utilities */

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.center{
    text-align: center;
}
/* Layout */

.container-large{
    width: 100%;
    background-color: #f6f6f6;
    padding-top: 50px;
    padding-bottom: 10px;
}
.container{
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
}

.col-2-6{
    width: calc(100% / 6 * 2);
    padding: 35px;
} 

.col-4-6{
    width: calc(100% / 6 * 4);
}

.col-4-6 img{
    width: 80%;
}

/* Layout footer */

.col-1_6{
    width: calc(100% / 5 * 0,5);
    margin-right: 80px;
}

.col-2_6{
    width: calc(100% / 5 * 1);
    margin-right: 80px;
}

.col-6-6{
    width: 100%;
}